body{
    box-sizing: border-box;
    background-color: #FDF6EC;
    background-size: cover;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
   
   

}


section
{
    background:  #F3E9DD;
    min-height: 800px;
}
footer
{
    border: 2px solid;

}
.footer-link a
{
    color: black;
}
.navbar-item a
{
    color: #483434;
    font-weight: bold;
    
}
.lateral img
{
    border-radius: 25%;
    width: 75px;
    height: 85px;
}
.lateral img:hover
{
   
   border-radius: 25%;
   transform: translateX(3px);
   transition: .2s ease;
}
.invisible
{
    visibility: hidden;
}
.visible{
    visibility: visible;
}
.client-view
{
    box-shadow: 2px 1px 5px #483434;
    border-radius: 5px;
}
table
{
    font-size: 16px;
}
table th{
    color: #483434;
    background-color: #ECECEC;
   
}
h3
{
    color: #483434;
    
}
label
{
    color: #483434;
    font-weight: 600;
}
label:hover{
    color: #DAB88B ;
    transform: translateX(3px);
    transition: .2s ease;

}